<!doctype html>

{% load static %}

<html lang="en">

<head>
    <title>DeliveryJet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Free-Template.co"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}"/>


</head>

<body id="top">



<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    {% block content %}


    {% endblock %}

    {% include "./footer.html" %}

</div>


</body>

</html>