{% load static %}

<script src="{% static 'assets/company/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/company/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/company/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/company/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/company/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/company/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/company/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/company/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/company/js/main.js' %}"></script>
